{% extends "base.html" %}
{% block title %}Ubah Password - EntokMart{% endblock %}
{% block content %}
<h2 class="mb-4"><i class="bi bi-key"></i> Ubah Password</h2>

<div class="card">
    <div class="card-body">
        <form method="POST">
                {{ csrf_token() }}
            <div class="mb-3">
                <label class="form-label">Password Saat Ini</label>
                <input type="password" name="current_password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Password Baru</label>
                <input type="password" name="new_password" class="form-control" minlength="6" required>
                <div class="form-text">Minimal 6 karakter</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Konfirmasi Password Baru</label>
                <input type="password" name="confirm_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-entok">Ubah Password</button>
            <a href="{{ url_for('profil') }}" class="btn btn-outline-secondary">Batal</a>
        </form>
    </div>
</div>
{% endblock %}